html, body {
    height:100% ;
    margin:0;
    box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.container .left{
    display: flex;
    width: 30%;
    height: 100%;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
    background-color:  #89CFF0;
}

.container .left .misc{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container .left .misc button{
    border: none;
    padding: 5px;
    border-radius: 10px;
}

.container .left .misc button:hover{
    cursor: pointer;
    background-color: #DDE9F5;
}

.container .right{
    display: flex;
    height: 100%;
    flex: 1;
    width: 70%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container .right .status{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.container .right .choices{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.container .right .choices .playerChoices,
.container .right .choices .computerChoices{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    align-items: center;
}


.container .right button{
    height: 100px;
    width: 100px;
    border: none;
    background-size: contain;
}

.container .right .playerChoices button:hover{
    cursor: pointer;
    border: 8px solid white;
}

.flipped{
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
}

.chosen{
    border: 8px solid red !important;
}

.hide{
    display:none !important;
}